<h1>Welcome to School Website</h1>
<p>This is the home page and will be programmed to list the latest new items below, as well as a chance to put a cool intro section here. The background of this section will also be easily configurable.</p>
